.replies {
  width: 95%;
  float: right;

  padding-left: 2rem;
  border-left: 2px solid rgb(208, 205, 205);
}

.comment {
  display: flex;

  padding: 1.5rem;

  background-color: white;
  border-radius: 5px;

  margin-top: 1rem;
  margin-bottom: 1rem;
  box-shadow: 6px 6px 5px -10px rgba(34, 60, 80, 0.6);
}

.comment__body {
  position: relative;
}

.comment__top {
  display: flex;
  align-items: center;

  margin-bottom: 1rem;
}
.comment__top > * {
  margin-right: 1rem;
}
.comment__top > *:last-child {
  margin-right: 0;
}
.comment__top img {
  width: 35px;
  height: 35px;
}

.score {
  max-height: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin-right: 1.5rem;

  background-color: hsl(223, 19%, 93%);
  border-radius: 15px;
}
.score button {
  width: 40px;

  padding: 5px;

  opacity: 0.3;
  border: none;
  background: none;
  color: hsl(238, 40%, 52%);
  font-weight: bold;
  cursor: pointer;

  transition: 0.3s all;
  transition: transform 0s;
}

.score button:hover {
  opacity: 1;
}
.score button:focus {
  border-radius: 10px;
}
.score button:active {
  transform: scale(0.9);
}

.score span {
  font-weight: bold;
  color: hsl(238, 40%, 52%);
}

.username {
  font-weight: bold;
  transition: 0.3s all;
  cursor: pointer;
}
.username:hover {
  opacity: 0.5;
}

.date {
  color: grey;
}

.comment__text {
  color: grey;
}

.reply {
  position: absolute;
  top: 0;
  right: 0;

  border: none;
  background: none;
  cursor: pointer;

  font-weight: bold;
  color: hsl(238, 40%, 52%);

  transition: 0.3s all;
  transition: transform 0s;
}
.reply::before {
  content: url(../../images/icon-reply.svg);
  margin-right: 0.7rem;
}
.reply:hover {
  opacity: 0.5;
  margin-right: 10px;
}
.reply:active {
  transform: scale(0.9);
}
