.App {
  min-width: 100vw;
  min-height: 100vh;

  background-color: hsl(223, 19%, 93%);

  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding-bottom: 30px;
}
.container {
  max-width: 50%;
  margin: 0 auto;
}
